In [ ]:
lr = smf.glm(
    formula="res1_yes ~ numords + version1 + upgraded",
    family=Binomial(link=logit()),
    data=intuit75k.query("training == 1"),
).fit()
print(rsm.or_ci(lr))

In [32]:
x= intuit75k.groupby('zip')['res1_yes'].agg(resp_rate="mean").sort_values("resp_rate", ascending=False).reset_index()

In [37]:
z= intuit75k.groupby('zip')['id'].agg(n_people="count").sort_values("n_people", ascending=False).reset_index()
y= z.merge(x, on="zip").sort_values('resp_rate', ascending=False)

In [49]:
y['resp']=np.where(y['resp_rate']==0,0,1)
y

        zip  n_people  resp_rate  resp
7043  20045         1        1.0     1
6716  85027         1        1.0     1
6940  18069         1        1.0     1
6922  95354         1        1.0     1
6980  34640         1        1.0     1
...     ...       ...        ...   ...
3184  75227        10        0.0     0
3183  34744        10        0.0     0
3182  03827        10        0.0     0
3181  38655        10        0.0     0
7078  44040         1        0.0     0

[7079 rows x 4 columns]